<%provide :title, "About"%>

<h1>About</h1>

<p>
	The <a href="www.railstutorials.org"><em>Ruby on Rails Tutorials</em></a> is a 
	<a href="www.railstutorials.org/book">book</a> and
	<a href="screencasts.railstutorials.org">screen cast series</a> &nbsp;to teach
	web development with <a href="rubyonrails.org">Ruby on Rails</a>
	This is a sample application for the tutorial
</p>

