<%provide :title,"Help"%>

<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutorials at
	<a href = "www.railstutorials.org/#help">Rails Tutorials Help Section</a> <br>

	To get help on this sample app, see the
	<a href ="www.railstutorials.org/book">Ruby on Rails Tutorials</a>
</p>
